@import "tailwindcss";

:root {
  color-scheme: light dark; /* Allows browser standard controls to work */
}

@theme {
  --color-gray-850: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

body {
  /* Default to Light Mode (gray-50), switch to Dark Mode (gray-950) if .dark class exists */
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100 transition-colors duration-300;
  font-family: 'Inter', system-ui, sans-serif;
}