@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-gray-850: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
}

body {
  @apply bg-gray-950 text-gray-100;
  font-family: 'Inter', system-ui, sans-serif;
}